footer {
    height: 60px;
    width: 100%;
    background-color: green;
    text-align: center; 
    color: black;
    position: fixed;
    bottom: 0;
}
p{
    padding-top: 10px;
    text-align: center;
  
}
